@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: poppins;
    background-color: black;
    color:rgb(194, 190, 190);
    min-height: 100vh;
    line-height: 1.5;
}

.image-gradient{
    position: fixed;
    top: o;
    right: 0;
    opacity: 0.9;
    z-index:-3;
}

.container{
    width: 100%;
    margin: 0;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    z-index: 999;
}

header h1{
  margin: 0;
  font-size: 3rem;
  font-weight: 300;
}

nav{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left:-5%;
    

}

nav a{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease;
    display: flex;
}

.btn-sign{
    background-color: #a7a7a7;
    color: black;
    padding: 0.8rem 2rem;
    border-radius: 50px;
    border: none;
    font-size: 0.8rem;
    font-weight:500;
    transition: background-color 0.2s ease;
    cursor: pointer;
    margin: 3rem;
}
.btn-sign:hover{
    background-color: white;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(50vh - 3rem);

}

.main-body{
max-width: 40rem;
margin-left: 10%;
z-index: 999;
display: flex;
}

.Info-box{
    position: relative;
    width: 18rem;
    height: 1.5rem;
    border-radius: 50px;
    background-size: 200%;
    box-shadow: 0 0 15px white;
}

 .tag{
    justify-content: center;
    align-items: center;
    inset: 3px 3px 3px 3px;
    border-radius: 50px;
    display: flex;
}

.products{
    justify-content: right;
    align-content: end;
    display: grid;

}

.main-body h1{
    font-size: 3rem;
    font-weight: 600;
    margin: 2rem 0;
    line-height: 1.2;

}

p{
    color: gray;
    letter-spacing: 0.005em;
    max-width: 35rem;
    font-size: 1.2rem;
}

.memberInfo{
    display: flex;
    margin-left: 10%;

    
}

.container img{
    width: 100px;
    margin-left: 2.5%;
    display: flex;
    min-width: 20rem;
}

.products img{
    height: 150px;
    width: 100%;
    display: flex;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 15px wheat;
    zoom: 1;
    

}

.products section{
    display: inline-block;
    width: 250px;
    padding: 15px;
    border-radius: 8px;
    
    

}

.products{
    display: flex;
    margin-right: 8%;
    
}

  #characterContent{
     display: flex;
     flex-direction: row;
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    font-size: 2rem;

}

.icons i:hover{
    transform: scale(0.5);
    transition: 0.4s ease;
}

#socials{
    justify-content: center;
    text-align: center;

}


.character-image {
    height: 150px;
    width: 100%;
    display: flex;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 15px wheat;
    zoom: 3;
    
}
.add-votes {
    width: 70px;
    margin-right: 10px;
}
